<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>    
    <% }); %>
<% } %>



<% if(success_msg != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>


<% if(success_msg_dash != '') { %>
    <div class="alert alert-success alert-dismissible fade show success-msg-dash" role="alert">
        <%= success_msg_dash %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>

<% if(success_msg_dash_d != '') { %>
    <div class="alert alert-success alert-dismissible fade show success-msg-dash alert-success-dark" role="alert">
        <%= success_msg_dash_d %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>


<% if(success_msg_d != '') { %>
    <div class="alert alert-success alert-success-dark alert-dismissible fade show" role="alert">
        <%= success_msg_d %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>


<% if(error_msg != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>

<% if(error_msg_d != '') { %>
    <div class="alert alert-warning  alert-warning-dark  alert-dismissible fade show" role="alert">
        <%= error_msg_d %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>


<% if(error != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>

<% if(error_d != '') { %>
    <div class="alert alert-warning alert-warning-dark alert-dismissible fade show" role="alert">
        <%= error_d %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>