<div class="container">
  
    <h1 class="mt-4" id="home-header">My Teams</h1>
    
    <p class="lead mb-3-dash">Your sports fandoms in one location</p>
  
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Settings
          </h1>
          <%- include('partials/messages') %>
          <a href="./settings_d">
            <button type="submit" class="btn btn-primary switch-to-dark">
              Switch to DARK Mode
            </button>
          </a>
          
          <form action="./settings" method="POST" id="regForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof email != 'undefined' ? name : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <a href="./update_password" class="btn btn-block btn-tertiary" id="btn-reg-reset">Update</a>
            </div>
  
            
  
            <div class="form-group">
              <label for="nflTeam">Favorite NFL Team:</label>
              <select
                id="nflTeam"
                name="nflTeam"
                class="form-control sports"
                value="<%= typeof email != 'undefined' ? nflTeam : '' %>"
                >
              <option value="<%= nflTeam %>"><%= nflTeam %></option>
              <option value="Arizona Cardinals">Arizona Cardinals</option>
              <option value="Atlanta Falcons">Atlanta Falcons</option>
              <option value="Baltimore Ravens">Baltimore Ravens</option>
              <option value="Buffalo Bills">Buffalo Bills</option>
              <option value="Carolina Panthers">Carolina Panthers</option>
              <option value="Chicago Bears">Chicago Bears</option>
              <option value="Cincinnati Bengals">Cincinnati Bengals</option>
              <option value="Cleveland Browns">Cleveland Browns</option>
              <option value="Dallas Cowboys">Dallas Cowboys</option>
              <option value="Denver Broncos">Denver Broncos</option>
              <option value="Detroit Lions">Detroit Lions</option>
              <option value="Green Bay Packers">Green Bay Packers</option>
              <option value="Houston Texans">Houston Texans</option>
              <option value="Indianapolis Colts">Indianapolis Colts</option>
              <option value="Jacksonville Jaguars">Jacksonville Jaguars</option>
              <option value="Kansas City Chiefs">Kansas City Chiefs</option>
              <option value="Las Vegas Raiders">Las Vegas Raiders</option>
              <option value="Los Angeles Chargers">Los Angeles Chargers</option>
              <option value="Los Angeles Rams">Los Angeles Rams</option>
              <option value="Miami Dolphins">Miami Dolphins</option>
              <option value="Minnesota Vikings">Minnesota Vikings</option>
              <option value="New England Patriots">New England Patriots</option>
              <option value="New Orleans Saints">New Orleans Saints</option>
              <option value="New York Giants">New York Giants</option>
              <option value="New York Jets">New York Jets</option>
              <option value="Philadelphia Eagles">Philadelphia Eagles</option>
              <option value="Pittsburgh Steelers">Pittsburgh Steelers</option>
              <option value="San Francisco 49ers">San Francisco 49ers</option>
              <option value="Seattle Seahawks">Seattle Seahawks</option>
              <option value="Tampa Bay Buccaneers">Tampa Bay Buccaneers 🏆</option>
              <option value="Tennessee Titans">Tennessee Titans</option>
              <option value="Washington Football Team">Washington Football Team</option>
  
                </select>
            </div>
  
            <div class="form-group">
              <label for="nbaTeam">Favorite NBA Team:</label>
              <select
                id="nbaTeam"
                name="nbaTeam"
                class="form-control sports"
                value="<%= typeof email != 'undefined' ? nbaTeam : '' %>"
                >
                <option value="<%= nbaTeam %>"><%= nbaTeam %></option>
                <option value="Atlanta Hawks">Atlanta Hawks</option>
                <option value="Boston Celtics">Boston Celtics</option>
                <option value="Brooklyn Nets">Brooklyn Nets</option>
                <option value="Charlotte Hornets">Charlotte Hornets</option>
                <option value="Chicago Bulls">Chicago Bulls</option>
                <option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
                <option value="Dallas Mavericks">Dallas Mavericks</option>
                <option value="Denver Nuggets">Denver Nuggets</option>
                <option value="Detroit Pistons">Detroit Pistons</option>
                <option value="Golden State Warriors">Golden State Warriors</option>
                <option value="Houston Rockets">Houston Rockets</option>
                <option value="Indiana Pacers">Indiana Pacers</option>
                <option value="Los Angeles Clippers">Los Angeles Clippers</option>
                <option value="Los Angeles Lakers">Los Angeles Lakers</option>
                <option value="Memphis Grizzlies">Memphis Grizzlies</option>
                <option value="Miami Heat">Miami Heat</option>
                <option value="Milwaukee Bucks">Milwaukee Bucks 🏆</option>
                <option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
                <option value="New Orleans Pelicans">New Orleans Pelicans</option>
                <option value="New York Knicks">New York Knicks</option>
                <option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
                <option value="Orlando Magic">Orlando Magic</option>
                <option value="Philadelphia 76ers">Philadelphia 76ers</option>
                <option value="Phoenix Suns">Phoenix Suns</option>
                <option value="Portland Trail Blazers">Portland Trail Blazers</option>
                <option value="Sacramento Kings">Sacramento Kings</option>
                <option value="San Antonio Spurs">San Antonio Spurs</option>
                <option value="Toronto Raptors">Toronto Raptors</option>
                <option value="Utah Jazz">Utah Jazz</option>
                <option value="Washington Wizards">Washington Wizards</option>
  
                </select>
            </div>
  
            <div class="form-group">
              <label for="mlbTeam">Favorite MLB Team:</label>
              <select
                id="mlbTeam"
                name="mlbTeam"
                class="form-control sports"
                value="<%= typeof email != 'undefined' ? mlbTeam : '' %>"
                >
              <option value="<%= mlbTeam %>"><%= mlbTeam %></option>
              <option value="Arizona Diamondbacks">Arizona Diamondbacks</option>
              <option value="Atlanta Braves">Atlanta Braves</option>
              <option value="Baltimore Orioles">Baltimore Orioles</option>
              <option value="Boston Red Sox">Boston Red Sox</option>
              <option value="Chicago Cubs">Chicago Cubs</option>
              <option value="Chicago White Sox">Chicago White Sox</option>
              <option value="Cincinnati Reds">Cincinnati Reds</option>
              <option value="Cleveland Indians">Cleveland Indians</option>
              <option value="Colorado Rockies">Colorado Rockies</option>
              <option value="Detroit Tigers">Detroit Tigers</option>
              <option value="Houston Astros">Houston Astros</option>
              <option value="Kansas City Royals">Kansas City Royals</option>
              <option value="Los Angeles Angels">Los Angeles Angels</option>
              <option value="Los Angeles Dodgers">Los Angeles Dodgers 🏆</option>
              <option value="Miami Marlins">Miami Marlins</option>
              <option value="Milwaukee Brewers">Milwaukee Brewers</option>
              <option value="Minnesota Twins">Minnesota Twins</option>
              <option value="New York Mets">New York Mets</option>
              <option value="New York Yankees">New York Yankees</option>
              <option value="Oakland Athletics">Oakland Athletics</option>
              <option value="Philadelphia Phillies">Philadelphia Phillies</option>
              <option value="Pittsburgh Pirates">Pittsburgh Pirates</option>
              <option value="San Diego Padres">San Diego Padres</option>
              <option value="San Francisco Giants">San Francisco Giants</option>
              <option value="Seattle Mariners">Seattle Mariners</option>
              <option value="St. Louis Cardinals">St. Louis Cardinals</option>
              <option value="Tampa Bay Rays">Tampa Bay Rays</option>
              <option value="Texas Rangers">Texas Rangers</option>
              <option value="Toronto Blue Jays">Toronto Blue Jays</option>
              <option value="Washington Nationals">Washington Nationals</option>
  
                </select>
            </div>
  
            <div class="form-group">
              <label for="nhlTeam">Favorite NHL Team:</label>
              <select
                id="nhlTeam"
                name="nhlTeam"
                class="form-control sports"
                value="<%= typeof email != 'undefined' ? nhlTeam : '' %>"
                >
                <option value="<%= nhlTeam %>"><%= nhlTeam %></option>
                <option value="Anaheim Ducks">Anaheim Ducks</option>
                <option value="Arizona Coyotes">Arizona Coyotes</option>
                <option value="Boston Bruins">Boston Bruins</option>
                <option value="Buffalo Sabres">Buffalo Sabres</option>
                <option value="Calgary Flames">Calgary Flames</option>
                <option value="Carolina Hurricanes">Carolina Hurricanes</option>
                <option value="Chicago Blackhawks">Chicago Blackhawks</option>
                <option value="Colorado Avalanche">Colorado Avalanche</option>
                <option value="Columbus Blue Jackets">Columbus Blue Jackets</option>
                <option value="Dallas Stars">Dallas Stars</option>
                <option value="Detroit Red Wings">Detroit Red Wings</option>
                <option value="Edmonton Oilers">Edmonton Oilers</option>
                <option value="Florida Panthers">Florida Panthers</option>
                <option value="Los Angeles Kings">Los Angeles Kings</option>
                <option value="Minnesota Wild">Minnesota Wild</option>
                <option value="Montreal Canadiens">Montreal Canadiens</option>
                <option value="Nashville Predators">Nashville Predators</option>
                <option value="New Jersey Devils">New Jersey Devils</option>
                <option value="New York Islanders">New York Islanders</option>
                <option value="New York Rangers">New York Rangers</option>
                <option value="Ottawa Senators">Ottawa Senators</option>
                <option value="Philadelphia Flyers">Philadelphia Flyers</option>
                <option value="Pittsburgh Penguins">Pittsburgh Penguins</option>
                <option value="San Jose Sharks">San Jose Sharks</option>
                <option value="Seattle Kraken">Seattle Kraken</option>
                <option value="St. Louis Blues">St. Louis Blues</option>
                <option value="Tampa Bay Lightning">Tampa Bay Lightning 🏆</option>
                <option value="Toronto Maple Leafs">Toronto Maple Leafs</option>
                <option value="Vancouver Canucks">Vancouver Canucks</option>
                <option value="Vegas Golden Knights">Vegas Golden Knights</option>
                <option value="Washington Capitals">Washington Capitals</option>
                <option value="Winnipeg Jets">Winnipeg Jets</option>
  
                </select>
            </div>
  
  
  
  
            <button type="submit" class="btn btn-primary btn-block">
              Save
            </button>
            <a href="../dashboard" class="btn btn-secondary btn-block" id="btn-reg-reset">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  
  
  </div>
  
  
    <script>
      // document.getElementById('btn-reg-reset').addEventListener('click', resetFields);
  
  
    function resetFields() {
  
      document.getElementById('name').value = '';
      document.getElementById('email').value = '';
      document.getElementById('password').value = '';
      document.getElementById('password2').value = '';
  
      errors = [];
    }</script>
